<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <footer class="navbar-fixed-bottom ">
        <div class="container mt-5">
          <div class="row justify-content-md-center">
            <p class="text-dark">
              Copyright
              <i class="fa fa-copyright" aria-hidden="true"></i>
              浙江理工大学 版权所有
            </p>
          </div>
        </div>
      </footer>
</body>
</html>