<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light transparent ml-3 mt-3 mr-3 mb-3">
        <a class="navbar-brand" href="#">ZSTU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active mr-5">
                    <a class="nav-link tool-font-size-24" href="#">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link tool-font-size-24" href="/login">登录</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0 " type="submit">
                    <a href="#" class="tm-social-link">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </button>
            </form>
        </div>
    </nav>
</body>

</html>