<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light transparent ml-3 mt-3 mr-3 mb-3">
        <a class="navbar-brand" href="#">ZSTU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-5">
                    <a class="nav-link tool-font-size-24" href="../">首页 </a>
                </li>
                <li class="nav-item  dropdown mr-5">
                    <a class="nav-link dropdown-toggle  disabled" href="#" id="navbar_dp_admin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      我是管理员超级用户
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">查询/修改课程表</a>
                      <a class="dropdown-item" href="#">查询/修改学生信息表</a>
                      <a class="dropdown-item" href="#">查询/修改教师信息表</a>
                      <a class="dropdown-item" href="#">查询/修改选修关系表</a>
                      <a class="dropdown-item" href="#">查询/修改教学关系表</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">查询/修改用户表</a>
                    </div>
                  </li>
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link  disabled  dropdown-toggle" href="#" id="navbar_dp_teacher" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        我是教师
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">添加/修改/删除教学任务</a>
                        <a class="dropdown-item" href="#">添加学生成绩记录</a>
                      </div>
                </li>
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbar_dp_student" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        我是学生<span class="sr-only">(current)</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/student/tb_course">查询课程库信息</a>
                        <a class="dropdown-item" href="/student/tb_sc">查询个人成绩/添加选课记录</a>
                        <a class="dropdown-item" href="/student/tb_tc">查询教学任务</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/student/tb_user">修改个人密码</a>
                      </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0 " type="submit">
                    <a href="#" class="tm-social-link">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </button>
            </form>
        </div>
    </nav>
</body>

</html>