<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col align-self-end">
                <button class="btn btn-success pull-right mb-2">添加记录</button>
            </div>
        </div>
        <table class="table">
            <caption class="text-white font-weight-bold bg-dark">教师任务表</caption>
            <tr>
                <th class="Cno">学号</th>
                <th class="Tcontent">教学任务</th>
                <th class="Uop">用户操作</th>
            </tr>
            <% for(var i = 0;i<usersData.length;i++){%>
            <tr>
                <td><%=usersData[i].Cno%></td>
                <td><%=usersData[i].Tcontent%></td>
                <td>
                    <a href="?action=del&id=<%=usersData[i].ID%>" onclick="return confirm('确定删除?')">
                        <button class="btn btn-danger">删除</button>
                    </a>
                    <a href="?action=mod&id=<%=usersData[i].ID%>">
                        <button class="btn btn-primary">修改</button>
                    </a>
                </td>
            </tr>
            <%}%>
        </table>
    </div>
</body>
</html>